//
// Written by Synplify Pro 
// Product Version "P-2019.03M-SP1-1"
// Program "Synplify Pro", Mapper "mapact, Build 2737R"
// Thu Apr 30 00:12:46 2020
//
// Source file index table:
// Object locations will have the form <file>:<line>
// file 0 "\c:\microsemi\libero_soc_v12.4\synplifypro\lib\vhd2008\std.vhd "
// file 1 "\c:\microsemi\libero_soc_v12.4\synplifypro\lib\vhd\snps_haps_pkg.vhd "
// file 2 "\c:\microsemi\libero_soc_v12.4\synplifypro\lib\vhd2008\std1164.vhd "
// file 3 "\c:\microsemi\libero_soc_v12.4\synplifypro\lib\vhd2008\std_textio.vhd "
// file 4 "\c:\microsemi\libero_soc_v12.4\synplifypro\lib\vhd2008\numeric.vhd "
// file 5 "\c:\microsemi\libero_soc_v12.4\synplifypro\lib\vhd\umr_capim.vhd "
// file 6 "\c:\microsemi\libero_soc_v12.4\synplifypro\lib\vhd2008\arith.vhd "
// file 7 "\c:\microsemi\libero_soc_v12.4\synplifypro\lib\vhd2008\unsigned.vhd "
// file 8 "\c:\microsemi\libero_soc_v12.4\synplifypro\lib\vhd\hyperents.vhd "
// file 9 "\e:\github_repos\gray_code_core\gray_code_core\hdl\gray_code_package.vhd "
// file 10 "\e:\github_repos\gray_code_core\gray_code_core\hdl\gray_to_binary_freq_test.vhd "
// file 11 "\c:\microsemi\libero_soc_v12.4\synplifypro\lib\nlconst.dat "
// file 12 "\e:\github_repos\gray_code_core\gray_code_core\designer\gray_to_binary_freq_test\synthesis.fdc "

`timescale 100 ps/100 ps
module gray_to_binary_freq_test (
  CLK,
  RSTn,
  gray_in,
  bin_out
)
;

/*  Synopsys
.origName=gray_to_binary_freq_test
.langParams="g_n_bits"
g_n_bits=32
 */
input CLK ;
input RSTn ;
input [31:0] gray_in ;
output [31:0] bin_out ;
wire CLK ;
wire RSTn ;
wire [31:0] g_buf_Z;
wire [29:0] \f_gray_to_binary.b_buf ;
wire [20:5] \f_gray_to_binary.b_buf_0_a2_0 ;
wire [28:28] g_buf_RNI66LE2_Z;
wire [14:10] \f_gray_to_binary.b_buf_0_a2_0_0 ;
wire [9:9] \f_gray_to_binary.b_buf_0_a2_1 ;
wire [8:7] \f_gray_to_binary.b_buf_i_i ;
wire [31:23] g_buf_fast_Z;
wire [31:31] g_buf_fast_RNIDLLJ_Z;
wire [18:18] \f_gray_to_binary.b_buf_0_a2_0_0_0 ;
wire NN_1 ;
wire N_4_i_0_1 ;
wire GND ;
wire VCC ;
wire RSTn_RNI7ROC_Z ;
wire \f_gray_to_binary.b_buf_0_a2_8_m6_7  ;
wire \f_gray_to_binary.b_buf_0_a2_out_5  ;
wire \f_gray_to_binary.b_buf_0_a2_24_m3_3  ;
wire \f_gray_to_binary.b_buf_0_a2_6_m2_0_Z  ;
wire \f_gray_to_binary.b_buf_0_a2_24_N_4_i_Z  ;
wire \f_gray_to_binary.b_buf_0_a2_6_N_3_i_Z  ;
wire g0_0 ;
wire g0_2_0 ;
wire g0_3_a2_1 ;
wire g0_3_a2_2 ;
wire g0_3_a2_0 ;
wire g0_5_a2_3 ;
wire g0_5_a2_4 ;
wire g0_0_0 ;
wire g0_5 ;
wire g0_6 ;
wire g0_0_0_x2_0 ;
wire g0_7 ;
wire g0_8 ;
wire g0_9 ;
wire g0_10 ;
wire N_4_i_0_1_0 ;
wire g0_2_1 ;
wire g_buf_23_rep1_Z ;
  CLKINT CLK_RNIQO92 (
	.Y(NN_1),
	.A(CLK)
);
  CLKINT RSTn_RNI7ROC (
	.Y(RSTn_RNI7ROC_Z),
	.A(RSTn)
);
// @10:45
  SLE \b_buf[23]  (
	.Q(bin_out[23]),
	.ADn(VCC),
	.ALn(RSTn_RNI7ROC_Z),
	.CLK(NN_1),
	.D(\f_gray_to_binary.b_buf [23]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @10:45
  SLE \b_buf[24]  (
	.Q(bin_out[24]),
	.ADn(VCC),
	.ALn(RSTn_RNI7ROC_Z),
	.CLK(NN_1),
	.D(\f_gray_to_binary.b_buf_0_a2_24_N_4_i_Z ),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @10:45
  SLE \b_buf[25]  (
	.Q(bin_out[25]),
	.ADn(VCC),
	.ALn(RSTn_RNI7ROC_Z),
	.CLK(NN_1),
	.D(\f_gray_to_binary.b_buf [25]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @10:45
  SLE \b_buf[26]  (
	.Q(bin_out[26]),
	.ADn(VCC),
	.ALn(RSTn_RNI7ROC_Z),
	.CLK(NN_1),
	.D(\f_gray_to_binary.b_buf [26]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @10:45
  SLE \b_buf[27]  (
	.Q(bin_out[27]),
	.ADn(VCC),
	.ALn(RSTn_RNI7ROC_Z),
	.CLK(NN_1),
	.D(\f_gray_to_binary.b_buf [27]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @10:45
  SLE \b_buf[28]  (
	.Q(bin_out[28]),
	.ADn(VCC),
	.ALn(RSTn_RNI7ROC_Z),
	.CLK(NN_1),
	.D(\f_gray_to_binary.b_buf [28]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @10:45
  SLE \b_buf[29]  (
	.Q(bin_out[29]),
	.ADn(VCC),
	.ALn(RSTn_RNI7ROC_Z),
	.CLK(NN_1),
	.D(\f_gray_to_binary.b_buf [29]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @10:45
  SLE \b_buf[30]  (
	.Q(bin_out[30]),
	.ADn(VCC),
	.ALn(RSTn_RNI7ROC_Z),
	.CLK(NN_1),
	.D(N_4_i_0_1),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @10:45
  SLE \b_buf[31]  (
	.Q(bin_out[31]),
	.ADn(VCC),
	.ALn(RSTn_RNI7ROC_Z),
	.CLK(NN_1),
	.D(g_buf_Z[31]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @10:45
  SLE \b_buf[8]  (
	.Q(bin_out[8]),
	.ADn(VCC),
	.ALn(RSTn_RNI7ROC_Z),
	.CLK(NN_1),
	.D(\f_gray_to_binary.b_buf_i_i [8]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @10:45
  SLE \b_buf[9]  (
	.Q(bin_out[9]),
	.ADn(VCC),
	.ALn(RSTn_RNI7ROC_Z),
	.CLK(NN_1),
	.D(\f_gray_to_binary.b_buf [9]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @10:45
  SLE \b_buf[10]  (
	.Q(bin_out[10]),
	.ADn(VCC),
	.ALn(RSTn_RNI7ROC_Z),
	.CLK(NN_1),
	.D(\f_gray_to_binary.b_buf [10]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @10:45
  SLE \b_buf[11]  (
	.Q(bin_out[11]),
	.ADn(VCC),
	.ALn(RSTn_RNI7ROC_Z),
	.CLK(NN_1),
	.D(\f_gray_to_binary.b_buf [11]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @10:45
  SLE \b_buf[12]  (
	.Q(bin_out[12]),
	.ADn(VCC),
	.ALn(RSTn_RNI7ROC_Z),
	.CLK(NN_1),
	.D(\f_gray_to_binary.b_buf [12]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @10:45
  SLE \b_buf[13]  (
	.Q(bin_out[13]),
	.ADn(VCC),
	.ALn(RSTn_RNI7ROC_Z),
	.CLK(NN_1),
	.D(\f_gray_to_binary.b_buf [13]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @10:45
  SLE \b_buf[14]  (
	.Q(bin_out[14]),
	.ADn(VCC),
	.ALn(RSTn_RNI7ROC_Z),
	.CLK(NN_1),
	.D(\f_gray_to_binary.b_buf [14]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @10:45
  SLE \b_buf[15]  (
	.Q(bin_out[15]),
	.ADn(VCC),
	.ALn(RSTn_RNI7ROC_Z),
	.CLK(NN_1),
	.D(\f_gray_to_binary.b_buf [15]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @10:45
  SLE \b_buf[16]  (
	.Q(bin_out[16]),
	.ADn(VCC),
	.ALn(RSTn_RNI7ROC_Z),
	.CLK(NN_1),
	.D(\f_gray_to_binary.b_buf [16]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @10:45
  SLE \b_buf[17]  (
	.Q(bin_out[17]),
	.ADn(VCC),
	.ALn(RSTn_RNI7ROC_Z),
	.CLK(NN_1),
	.D(\f_gray_to_binary.b_buf [17]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @10:45
  SLE \b_buf[18]  (
	.Q(bin_out[18]),
	.ADn(VCC),
	.ALn(RSTn_RNI7ROC_Z),
	.CLK(NN_1),
	.D(\f_gray_to_binary.b_buf [18]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @10:45
  SLE \b_buf[19]  (
	.Q(bin_out[19]),
	.ADn(VCC),
	.ALn(RSTn_RNI7ROC_Z),
	.CLK(NN_1),
	.D(\f_gray_to_binary.b_buf [19]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @10:45
  SLE \b_buf[20]  (
	.Q(bin_out[20]),
	.ADn(VCC),
	.ALn(RSTn_RNI7ROC_Z),
	.CLK(NN_1),
	.D(\f_gray_to_binary.b_buf [20]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @10:45
  SLE \b_buf[21]  (
	.Q(bin_out[21]),
	.ADn(VCC),
	.ALn(RSTn_RNI7ROC_Z),
	.CLK(NN_1),
	.D(\f_gray_to_binary.b_buf [21]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @10:45
  SLE \b_buf[22]  (
	.Q(bin_out[22]),
	.ADn(VCC),
	.ALn(RSTn_RNI7ROC_Z),
	.CLK(NN_1),
	.D(\f_gray_to_binary.b_buf [22]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @10:45
  SLE \g_buf[25]  (
	.Q(g_buf_Z[25]),
	.ADn(VCC),
	.ALn(RSTn_RNI7ROC_Z),
	.CLK(NN_1),
	.D(gray_in[25]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @10:45
  SLE \g_buf[26]  (
	.Q(g_buf_Z[26]),
	.ADn(VCC),
	.ALn(RSTn_RNI7ROC_Z),
	.CLK(NN_1),
	.D(gray_in[26]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @10:45
  SLE \g_buf[27]  (
	.Q(g_buf_Z[27]),
	.ADn(VCC),
	.ALn(RSTn_RNI7ROC_Z),
	.CLK(NN_1),
	.D(gray_in[27]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @10:45
  SLE \g_buf[28]  (
	.Q(g_buf_Z[28]),
	.ADn(VCC),
	.ALn(RSTn_RNI7ROC_Z),
	.CLK(NN_1),
	.D(gray_in[28]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @10:45
  SLE \g_buf[29]  (
	.Q(g_buf_Z[29]),
	.ADn(VCC),
	.ALn(RSTn_RNI7ROC_Z),
	.CLK(NN_1),
	.D(gray_in[29]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @10:45
  SLE \g_buf[30]  (
	.Q(g_buf_Z[30]),
	.ADn(VCC),
	.ALn(RSTn_RNI7ROC_Z),
	.CLK(NN_1),
	.D(gray_in[30]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @10:45
  SLE \g_buf[31]  (
	.Q(g_buf_Z[31]),
	.ADn(VCC),
	.ALn(RSTn_RNI7ROC_Z),
	.CLK(NN_1),
	.D(gray_in[31]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @10:45
  SLE \b_buf[0]  (
	.Q(bin_out[0]),
	.ADn(VCC),
	.ALn(RSTn_RNI7ROC_Z),
	.CLK(NN_1),
	.D(\f_gray_to_binary.b_buf [0]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @10:45
  SLE \b_buf[1]  (
	.Q(bin_out[1]),
	.ADn(VCC),
	.ALn(RSTn_RNI7ROC_Z),
	.CLK(NN_1),
	.D(\f_gray_to_binary.b_buf [1]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @10:45
  SLE \b_buf[2]  (
	.Q(bin_out[2]),
	.ADn(VCC),
	.ALn(RSTn_RNI7ROC_Z),
	.CLK(NN_1),
	.D(\f_gray_to_binary.b_buf [2]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @10:45
  SLE \b_buf[3]  (
	.Q(bin_out[3]),
	.ADn(VCC),
	.ALn(RSTn_RNI7ROC_Z),
	.CLK(NN_1),
	.D(\f_gray_to_binary.b_buf [3]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @10:45
  SLE \b_buf[4]  (
	.Q(bin_out[4]),
	.ADn(VCC),
	.ALn(RSTn_RNI7ROC_Z),
	.CLK(NN_1),
	.D(\f_gray_to_binary.b_buf [4]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @10:45
  SLE \b_buf[5]  (
	.Q(bin_out[5]),
	.ADn(VCC),
	.ALn(RSTn_RNI7ROC_Z),
	.CLK(NN_1),
	.D(\f_gray_to_binary.b_buf [5]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @10:45
  SLE \b_buf[6]  (
	.Q(bin_out[6]),
	.ADn(VCC),
	.ALn(RSTn_RNI7ROC_Z),
	.CLK(NN_1),
	.D(\f_gray_to_binary.b_buf_0_a2_6_N_3_i_Z ),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @10:45
  SLE \b_buf[7]  (
	.Q(bin_out[7]),
	.ADn(VCC),
	.ALn(RSTn_RNI7ROC_Z),
	.CLK(NN_1),
	.D(\f_gray_to_binary.b_buf_i_i [7]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @10:45
  SLE \g_buf[10]  (
	.Q(g_buf_Z[10]),
	.ADn(VCC),
	.ALn(RSTn_RNI7ROC_Z),
	.CLK(NN_1),
	.D(gray_in[10]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @10:45
  SLE \g_buf[11]  (
	.Q(g_buf_Z[11]),
	.ADn(VCC),
	.ALn(RSTn_RNI7ROC_Z),
	.CLK(NN_1),
	.D(gray_in[11]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @10:45
  SLE \g_buf[12]  (
	.Q(g_buf_Z[12]),
	.ADn(VCC),
	.ALn(RSTn_RNI7ROC_Z),
	.CLK(NN_1),
	.D(gray_in[12]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @10:45
  SLE \g_buf[13]  (
	.Q(g_buf_Z[13]),
	.ADn(VCC),
	.ALn(RSTn_RNI7ROC_Z),
	.CLK(NN_1),
	.D(gray_in[13]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @10:45
  SLE \g_buf[14]  (
	.Q(g_buf_Z[14]),
	.ADn(VCC),
	.ALn(RSTn_RNI7ROC_Z),
	.CLK(NN_1),
	.D(gray_in[14]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @10:45
  SLE \g_buf[15]  (
	.Q(g_buf_Z[15]),
	.ADn(VCC),
	.ALn(RSTn_RNI7ROC_Z),
	.CLK(NN_1),
	.D(gray_in[15]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @10:45
  SLE \g_buf[16]  (
	.Q(g_buf_Z[16]),
	.ADn(VCC),
	.ALn(RSTn_RNI7ROC_Z),
	.CLK(NN_1),
	.D(gray_in[16]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @10:45
  SLE \g_buf[17]  (
	.Q(g_buf_Z[17]),
	.ADn(VCC),
	.ALn(RSTn_RNI7ROC_Z),
	.CLK(NN_1),
	.D(gray_in[17]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @10:45
  SLE \g_buf[18]  (
	.Q(g_buf_Z[18]),
	.ADn(VCC),
	.ALn(RSTn_RNI7ROC_Z),
	.CLK(NN_1),
	.D(gray_in[18]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @10:45
  SLE \g_buf[19]  (
	.Q(g_buf_Z[19]),
	.ADn(VCC),
	.ALn(RSTn_RNI7ROC_Z),
	.CLK(NN_1),
	.D(gray_in[19]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @10:45
  SLE \g_buf[20]  (
	.Q(g_buf_Z[20]),
	.ADn(VCC),
	.ALn(RSTn_RNI7ROC_Z),
	.CLK(NN_1),
	.D(gray_in[20]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @10:45
  SLE \g_buf[21]  (
	.Q(g_buf_Z[21]),
	.ADn(VCC),
	.ALn(RSTn_RNI7ROC_Z),
	.CLK(NN_1),
	.D(gray_in[21]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @10:45
  SLE \g_buf[22]  (
	.Q(g_buf_Z[22]),
	.ADn(VCC),
	.ALn(RSTn_RNI7ROC_Z),
	.CLK(NN_1),
	.D(gray_in[22]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @10:45
  SLE \g_buf[23]  (
	.Q(g_buf_Z[23]),
	.ADn(VCC),
	.ALn(RSTn_RNI7ROC_Z),
	.CLK(NN_1),
	.D(gray_in[23]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @10:45
  SLE \g_buf[24]  (
	.Q(g_buf_Z[24]),
	.ADn(VCC),
	.ALn(RSTn_RNI7ROC_Z),
	.CLK(NN_1),
	.D(gray_in[24]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @10:45
  SLE \g_buf[0]  (
	.Q(g_buf_Z[0]),
	.ADn(VCC),
	.ALn(RSTn_RNI7ROC_Z),
	.CLK(NN_1),
	.D(gray_in[0]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @10:45
  SLE \g_buf[1]  (
	.Q(g_buf_Z[1]),
	.ADn(VCC),
	.ALn(RSTn_RNI7ROC_Z),
	.CLK(NN_1),
	.D(gray_in[1]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @10:45
  SLE \g_buf[2]  (
	.Q(g_buf_Z[2]),
	.ADn(VCC),
	.ALn(RSTn_RNI7ROC_Z),
	.CLK(NN_1),
	.D(gray_in[2]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @10:45
  SLE \g_buf[3]  (
	.Q(g_buf_Z[3]),
	.ADn(VCC),
	.ALn(RSTn_RNI7ROC_Z),
	.CLK(NN_1),
	.D(gray_in[3]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @10:45
  SLE \g_buf[4]  (
	.Q(g_buf_Z[4]),
	.ADn(VCC),
	.ALn(RSTn_RNI7ROC_Z),
	.CLK(NN_1),
	.D(gray_in[4]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @10:45
  SLE \g_buf[5]  (
	.Q(g_buf_Z[5]),
	.ADn(VCC),
	.ALn(RSTn_RNI7ROC_Z),
	.CLK(NN_1),
	.D(gray_in[5]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @10:45
  SLE \g_buf[6]  (
	.Q(g_buf_Z[6]),
	.ADn(VCC),
	.ALn(RSTn_RNI7ROC_Z),
	.CLK(NN_1),
	.D(gray_in[6]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @10:45
  SLE \g_buf[7]  (
	.Q(g_buf_Z[7]),
	.ADn(VCC),
	.ALn(RSTn_RNI7ROC_Z),
	.CLK(NN_1),
	.D(gray_in[7]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @10:45
  SLE \g_buf[8]  (
	.Q(g_buf_Z[8]),
	.ADn(VCC),
	.ALn(RSTn_RNI7ROC_Z),
	.CLK(NN_1),
	.D(gray_in[8]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @10:45
  SLE \g_buf[9]  (
	.Q(g_buf_Z[9]),
	.ADn(VCC),
	.ALn(RSTn_RNI7ROC_Z),
	.CLK(NN_1),
	.D(gray_in[9]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @10:45
  SLE \g_buf_fast[31]  (
	.Q(g_buf_fast_Z[31]),
	.ADn(VCC),
	.ALn(RSTn_RNI7ROC_Z),
	.CLK(NN_1),
	.D(gray_in[31]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @10:45
  SLE \g_buf_fast[26]  (
	.Q(g_buf_fast_Z[26]),
	.ADn(VCC),
	.ALn(RSTn_RNI7ROC_Z),
	.CLK(NN_1),
	.D(gray_in[26]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @10:45
  SLE \g_buf_fast[30]  (
	.Q(g_buf_fast_Z[30]),
	.ADn(VCC),
	.ALn(RSTn_RNI7ROC_Z),
	.CLK(NN_1),
	.D(gray_in[30]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @10:45
  SLE \g_buf_fast[27]  (
	.Q(g_buf_fast_Z[27]),
	.ADn(VCC),
	.ALn(RSTn_RNI7ROC_Z),
	.CLK(NN_1),
	.D(gray_in[27]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @10:45
  SLE \g_buf_fast[23]  (
	.Q(g_buf_fast_Z[23]),
	.ADn(VCC),
	.ALn(RSTn_RNI7ROC_Z),
	.CLK(NN_1),
	.D(gray_in[23]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @10:45
  SLE g_buf_23_rep1 (
	.Q(g_buf_23_rep1_Z),
	.ADn(VCC),
	.ALn(RSTn_RNI7ROC_Z),
	.CLK(NN_1),
	.D(gray_in[23]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @9:48
  CFG4 \f_gray_to_binary.b_buf_0_a2_0_0[18]  (
	.A(g_buf_fast_Z[23]),
	.B(g_buf_Z[21]),
	.C(g_buf_Z[22]),
	.D(\f_gray_to_binary.b_buf_0_a2_0_0_0 [18]),
	.Y(\f_gray_to_binary.b_buf_0_a2_1 [9])
);
defparam \f_gray_to_binary.b_buf_0_a2_0_0[18] .INIT=16'h9669;
// @9:48
  CFG3 \f_gray_to_binary.b_buf_0_a2_0_0_1[18]  (
	.A(g_buf_Z[19]),
	.B(g_buf_Z[18]),
	.C(g_buf_Z[20]),
	.Y(\f_gray_to_binary.b_buf_0_a2_0_0_0 [18])
);
defparam \f_gray_to_binary.b_buf_0_a2_0_0_1[18] .INIT=8'h69;
// @9:48
  CFG4 \b_buf_RNO[4]  (
	.A(g0_2_1),
	.B(g_buf_Z[23]),
	.C(g_buf_RNI66LE2_Z[28]),
	.D(\f_gray_to_binary.b_buf_0_a2_8_m6_7 ),
	.Y(\f_gray_to_binary.b_buf [4])
);
defparam \b_buf_RNO[4] .INIT=16'h6996;
// @9:48
  CFG4 \b_buf_RNO_0[4]  (
	.A(g_buf_Z[4]),
	.B(g_buf_Z[5]),
	.C(g_buf_Z[7]),
	.D(g_buf_Z[6]),
	.Y(g0_2_1)
);
defparam \b_buf_RNO_0[4] .INIT=16'h6996;
  CFG2 \g_buf_fast_RNIDLLJ[31]  (
	.A(g_buf_Z[24]),
	.B(g_buf_fast_Z[31]),
	.Y(g_buf_fast_RNIDLLJ_Z[31])
);
defparam \g_buf_fast_RNIDLLJ[31] .INIT=4'h6;
  CFG4 \g_buf_fast_RNIE7NV[26]  (
	.A(g_buf_fast_Z[30]),
	.B(g_buf_fast_Z[27]),
	.C(g_buf_fast_Z[26]),
	.D(g_buf_Z[25]),
	.Y(N_4_i_0_1_0)
);
defparam \g_buf_fast_RNIE7NV[26] .INIT=16'h6996;
  CFG4 \g_buf_RNI66LE2[28]  (
	.A(g_buf_Z[29]),
	.B(g_buf_Z[28]),
	.C(g_buf_fast_RNIDLLJ_Z[31]),
	.D(N_4_i_0_1_0),
	.Y(g_buf_RNI66LE2_Z[28])
);
defparam \g_buf_RNI66LE2[28] .INIT=16'h9669;
// @9:48
  CFG2 \g_buf_fast_RNIAJMJ[31]  (
	.A(g_buf_Z[30]),
	.B(g_buf_fast_Z[31]),
	.Y(N_4_i_0_1)
);
defparam \g_buf_fast_RNIAJMJ[31] .INIT=4'h6;
  CFG4 \f_gray_to_binary.b_buf_0_a2_24_N_4_i_RNO  (
	.A(g_buf_Z[24]),
	.B(g_buf_Z[27]),
	.C(g_buf_Z[26]),
	.D(g_buf_Z[29]),
	.Y(\f_gray_to_binary.b_buf_0_a2_24_m3_3 )
);
defparam \f_gray_to_binary.b_buf_0_a2_24_N_4_i_RNO .INIT=16'h9669;
// @9:48
  CFG2 \g_buf_RNITO5R[12]  (
	.A(g_buf_Z[13]),
	.B(g_buf_Z[12]),
	.Y(\f_gray_to_binary.b_buf_0_a2_0 [12])
);
defparam \g_buf_RNITO5R[12] .INIT=4'h6;
// @9:48
  CFG2 \g_buf_RNIRO7R[20]  (
	.A(g_buf_Z[21]),
	.B(g_buf_Z[20]),
	.Y(\f_gray_to_binary.b_buf_0_a2_0 [20])
);
defparam \g_buf_RNIRO7R[20] .INIT=4'h6;
// @9:48
  CFG2 \g_buf_RNIPK5R[10]  (
	.A(g_buf_Z[11]),
	.B(g_buf_Z[10]),
	.Y(\f_gray_to_binary.b_buf_0_a2_0 [10])
);
defparam \g_buf_RNIPK5R[10] .INIT=4'h6;
  CFG4 \g_buf_RNI4TCM1[15]  (
	.A(g_buf_Z[16]),
	.B(g_buf_Z[21]),
	.C(g_buf_Z[17]),
	.D(g_buf_Z[15]),
	.Y(g0_10)
);
defparam \g_buf_RNI4TCM1[15] .INIT=16'h6996;
  CFG4 \g_buf_RNI1PBM1[11]  (
	.A(g_buf_Z[19]),
	.B(g_buf_Z[14]),
	.C(g_buf_Z[13]),
	.D(g_buf_Z[11]),
	.Y(g0_9)
);
defparam \g_buf_RNI1PBM1[11] .INIT=16'h6996;
  CFG4 \g_buf_RNIRJCM1[10]  (
	.A(g_buf_Z[10]),
	.B(g_buf_Z[20]),
	.C(g_buf_Z[18]),
	.D(g_buf_Z[12]),
	.Y(g0_8)
);
defparam \g_buf_RNIRJCM1[10] .INIT=16'h6996;
  CFG3 \g_buf_RNI60AJ[8]  (
	.A(g_buf_Z[8]),
	.B(g_buf_Z[9]),
	.C(g_buf_Z[22]),
	.Y(g0_7)
);
defparam \g_buf_RNI60AJ[8] .INIT=8'h96;
// @9:48
  CFG4 \g_buf_RNI6UBM1[14]  (
	.A(g_buf_Z[14]),
	.B(g_buf_Z[16]),
	.C(g_buf_Z[15]),
	.D(g_buf_Z[17]),
	.Y(\f_gray_to_binary.b_buf_0_a2_0_0 [14])
);
defparam \g_buf_RNI6UBM1[14] .INIT=16'h6996;
  CFG4 \g_buf_RNI6AFM5[8]  (
	.A(g0_7),
	.B(g0_10),
	.C(g0_8),
	.D(g0_9),
	.Y(\f_gray_to_binary.b_buf_0_a2_8_m6_7 )
);
defparam \g_buf_RNI6AFM5[8] .INIT=16'h9669;
  CFG2 \g_buf_RNI1T5R[14]  (
	.A(g_buf_Z[15]),
	.B(g_buf_Z[14]),
	.Y(g0_0_0_x2_0)
);
defparam \g_buf_RNI1T5R[14] .INIT=4'h6;
// @9:48
  CFG2 \g_buf_RNI516R[16]  (
	.A(g_buf_Z[17]),
	.B(g_buf_Z[16]),
	.Y(\f_gray_to_binary.b_buf_0_a2_0 [16])
);
defparam \g_buf_RNI516R[16] .INIT=4'h6;
// @9:48
  CFG4 \g_buf_RNI3NHH2[16]  (
	.A(g_buf_Z[16]),
	.B(g_buf_Z[17]),
	.C(\f_gray_to_binary.b_buf_0_a2_0 [12]),
	.D(g0_0_0_x2_0),
	.Y(\f_gray_to_binary.b_buf_0_a2_out_5 )
);
defparam \g_buf_RNI3NHH2[16] .INIT=16'h6996;
// @9:48
  CFG4 \f_gray_to_binary.b_buf_0_a2_RNO[9]  (
	.A(\f_gray_to_binary.b_buf_0_a2_0 [12]),
	.B(\f_gray_to_binary.b_buf_0_a2_0 [10]),
	.C(g0_0_0_x2_0),
	.D(\f_gray_to_binary.b_buf_0_a2_0 [16]),
	.Y(\f_gray_to_binary.b_buf_0_a2_0_0 [10])
);
defparam \f_gray_to_binary.b_buf_0_a2_RNO[9] .INIT=16'h6996;
  CFG2 \b_buf_RNO_2[0]  (
	.A(g_buf_Z[1]),
	.B(g_buf_Z[0]),
	.Y(g0_0_0)
);
defparam \b_buf_RNO_2[0] .INIT=4'h6;
  CFG4 \b_buf_RNO_0[0]  (
	.A(g_buf_Z[3]),
	.B(g_buf_Z[2]),
	.C(g_buf_Z[4]),
	.D(g_buf_Z[5]),
	.Y(g0_5)
);
defparam \b_buf_RNO_0[0] .INIT=16'h6996;
  CFG4 \b_buf_RNO_1[0]  (
	.A(g_buf_Z[6]),
	.B(g_buf_Z[7]),
	.C(g0_0_0),
	.D(g_buf_23_rep1_Z),
	.Y(g0_6)
);
defparam \b_buf_RNO_1[0] .INIT=16'h6996;
// @9:48
  CFG4 \b_buf_RNO[0]  (
	.A(g0_5),
	.B(g0_6),
	.C(g_buf_RNI66LE2_Z[28]),
	.D(\f_gray_to_binary.b_buf_0_a2_8_m6_7 ),
	.Y(\f_gray_to_binary.b_buf [0])
);
defparam \b_buf_RNO[0] .INIT=16'h6996;
// @9:48
  CFG2 \g_buf_RNI1SL5[5]  (
	.A(g_buf_Z[6]),
	.B(g_buf_Z[5]),
	.Y(\f_gray_to_binary.b_buf_0_a2_0 [5])
);
defparam \g_buf_RNI1SL5[5] .INIT=4'h6;
  CFG4 \b_buf_RNO_1[1]  (
	.A(g_buf_Z[6]),
	.B(g_buf_Z[7]),
	.C(g_buf_23_rep1_Z),
	.D(g_buf_Z[5]),
	.Y(g0_5_a2_4)
);
defparam \b_buf_RNO_1[1] .INIT=16'h6996;
  CFG4 \b_buf_RNO_0[1]  (
	.A(g_buf_Z[1]),
	.B(g_buf_Z[2]),
	.C(g_buf_Z[3]),
	.D(g_buf_Z[4]),
	.Y(g0_5_a2_3)
);
defparam \b_buf_RNO_0[1] .INIT=16'h6996;
// @9:48
  CFG4 \b_buf_RNO[1]  (
	.A(g0_5_a2_3),
	.B(g0_5_a2_4),
	.C(g_buf_RNI66LE2_Z[28]),
	.D(\f_gray_to_binary.b_buf_0_a2_8_m6_7 ),
	.Y(\f_gray_to_binary.b_buf [1])
);
defparam \b_buf_RNO[1] .INIT=16'h6996;
  CFG2 \b_buf_RNO_0[19]  (
	.A(g_buf_Z[22]),
	.B(g_buf_Z[19]),
	.Y(g0_3_a2_0)
);
defparam \b_buf_RNO_0[19] .INIT=4'h6;
  CFG4 \b_buf_RNO[20]  (
	.A(g_buf_Z[22]),
	.B(g_buf_Z[23]),
	.C(\f_gray_to_binary.b_buf_0_a2_0 [20]),
	.D(g_buf_RNI66LE2_Z[28]),
	.Y(\f_gray_to_binary.b_buf [20])
);
defparam \b_buf_RNO[20] .INIT=16'h9669;
  CFG4 \b_buf_RNO[19]  (
	.A(g0_3_a2_0),
	.B(g_buf_Z[23]),
	.C(g_buf_RNI66LE2_Z[28]),
	.D(\f_gray_to_binary.b_buf_0_a2_0 [20]),
	.Y(\f_gray_to_binary.b_buf [19])
);
defparam \b_buf_RNO[19] .INIT=16'h9669;
// @9:48
  CFG2 \b_buf_RNO[23]  (
	.A(g_buf_RNI66LE2_Z[28]),
	.B(g_buf_Z[23]),
	.Y(\f_gray_to_binary.b_buf [23])
);
defparam \b_buf_RNO[23] .INIT=4'h9;
// @10:45
  CFG3 \b_buf_RNO[8]  (
	.A(g_buf_RNI66LE2_Z[28]),
	.B(g_buf_Z[23]),
	.C(\f_gray_to_binary.b_buf_0_a2_8_m6_7 ),
	.Y(\f_gray_to_binary.b_buf_i_i [8])
);
defparam \b_buf_RNO[8] .INIT=8'h96;
  CFG4 \b_buf_RNO_1[2]  (
	.A(g_buf_Z[2]),
	.B(g_buf_Z[3]),
	.C(g_buf_Z[5]),
	.D(g_buf_Z[6]),
	.Y(g0_3_a2_2)
);
defparam \b_buf_RNO_1[2] .INIT=16'h6996;
  CFG3 \b_buf_RNO_0[2]  (
	.A(g_buf_Z[7]),
	.B(g_buf_23_rep1_Z),
	.C(g_buf_Z[4]),
	.Y(g0_3_a2_1)
);
defparam \b_buf_RNO_0[2] .INIT=8'h96;
// @9:48
  CFG4 \b_buf_RNO[2]  (
	.A(g0_3_a2_1),
	.B(g0_3_a2_2),
	.C(\f_gray_to_binary.b_buf_0_a2_8_m6_7 ),
	.D(g_buf_RNI66LE2_Z[28]),
	.Y(\f_gray_to_binary.b_buf [2])
);
defparam \b_buf_RNO[2] .INIT=16'h6996;
  CFG4 \b_buf_RNO_0[3]  (
	.A(g_buf_Z[4]),
	.B(g_buf_Z[7]),
	.C(g_buf_Z[3]),
	.D(g_buf_23_rep1_Z),
	.Y(g0_2_0)
);
defparam \b_buf_RNO_0[3] .INIT=16'h6996;
// @9:48
  CFG4 \b_buf_RNO[3]  (
	.A(\f_gray_to_binary.b_buf_0_a2_8_m6_7 ),
	.B(g_buf_RNI66LE2_Z[28]),
	.C(g0_2_0),
	.D(\f_gray_to_binary.b_buf_0_a2_0 [5]),
	.Y(\f_gray_to_binary.b_buf [3])
);
defparam \b_buf_RNO[3] .INIT=16'h6996;
  CFG2 \b_buf_RNO_0[5]  (
	.A(g_buf_Z[7]),
	.B(g_buf_23_rep1_Z),
	.Y(g0_0)
);
defparam \b_buf_RNO_0[5] .INIT=4'h6;
// @9:48
  CFG4 \b_buf_RNO[5]  (
	.A(\f_gray_to_binary.b_buf_0_a2_8_m6_7 ),
	.B(g_buf_RNI66LE2_Z[28]),
	.C(g0_0),
	.D(\f_gray_to_binary.b_buf_0_a2_0 [5]),
	.Y(\f_gray_to_binary.b_buf [5])
);
defparam \b_buf_RNO[5] .INIT=16'h6996;
// @9:48
  CFG4 \b_buf_RNO[7]  (
	.A(g_buf_Z[7]),
	.B(g_buf_Z[23]),
	.C(\f_gray_to_binary.b_buf_0_a2_8_m6_7 ),
	.D(g_buf_RNI66LE2_Z[28]),
	.Y(\f_gray_to_binary.b_buf_i_i [7])
);
defparam \b_buf_RNO[7] .INIT=16'h6996;
// @9:48
  CFG2 \f_gray_to_binary.b_buf_0_a2_6_m2_0  (
	.A(g_buf_Z[7]),
	.B(g_buf_Z[6]),
	.Y(\f_gray_to_binary.b_buf_0_a2_6_m2_0_Z )
);
defparam \f_gray_to_binary.b_buf_0_a2_6_m2_0 .INIT=4'h6;
// @9:48
  CFG3 \f_gray_to_binary.b_buf_i_o2[29]  (
	.A(g_buf_Z[31]),
	.B(g_buf_Z[30]),
	.C(g_buf_Z[29]),
	.Y(\f_gray_to_binary.b_buf [29])
);
defparam \f_gray_to_binary.b_buf_i_o2[29] .INIT=8'h96;
// @9:48
  CFG4 \f_gray_to_binary.b_buf_0_a2[27]  (
	.A(g_buf_Z[29]),
	.B(g_buf_Z[27]),
	.C(N_4_i_0_1),
	.D(g_buf_Z[28]),
	.Y(\f_gray_to_binary.b_buf [27])
);
defparam \f_gray_to_binary.b_buf_0_a2[27] .INIT=16'h6996;
// @9:48
  CFG4 \f_gray_to_binary.b_buf_0_a2[28]  (
	.A(g_buf_Z[31]),
	.B(g_buf_Z[30]),
	.C(g_buf_Z[29]),
	.D(g_buf_Z[28]),
	.Y(\f_gray_to_binary.b_buf [28])
);
defparam \f_gray_to_binary.b_buf_0_a2[28] .INIT=16'h6996;
// @9:48
  CFG2 \f_gray_to_binary.b_buf_0_a2[18]  (
	.A(g_buf_RNI66LE2_Z[28]),
	.B(\f_gray_to_binary.b_buf_0_a2_1 [9]),
	.Y(\f_gray_to_binary.b_buf [18])
);
defparam \f_gray_to_binary.b_buf_0_a2[18] .INIT=4'h9;
// @9:48
  CFG4 \f_gray_to_binary.b_buf_0_a2_24_N_4_i  (
	.A(g_buf_Z[28]),
	.B(g_buf_Z[25]),
	.C(N_4_i_0_1),
	.D(\f_gray_to_binary.b_buf_0_a2_24_m3_3 ),
	.Y(\f_gray_to_binary.b_buf_0_a2_24_N_4_i_Z )
);
defparam \f_gray_to_binary.b_buf_0_a2_24_N_4_i .INIT=16'h9669;
// @9:48
  CFG3 \f_gray_to_binary.b_buf_0_a2[22]  (
	.A(g_buf_Z[23]),
	.B(g_buf_RNI66LE2_Z[28]),
	.C(g_buf_Z[22]),
	.Y(\f_gray_to_binary.b_buf [22])
);
defparam \f_gray_to_binary.b_buf_0_a2[22] .INIT=8'h69;
// @9:48
  CFG4 \f_gray_to_binary.b_buf_0_a2[26]  (
	.A(g_buf_Z[28]),
	.B(\f_gray_to_binary.b_buf [29]),
	.C(g_buf_Z[27]),
	.D(g_buf_Z[26]),
	.Y(\f_gray_to_binary.b_buf [26])
);
defparam \f_gray_to_binary.b_buf_0_a2[26] .INIT=16'h6996;
// @9:48
  CFG4 \f_gray_to_binary.b_buf_0_a2[13]  (
	.A(\f_gray_to_binary.b_buf_0_a2_1 [9]),
	.B(g_buf_RNI66LE2_Z[28]),
	.C(g_buf_Z[13]),
	.D(\f_gray_to_binary.b_buf_0_a2_0_0 [14]),
	.Y(\f_gray_to_binary.b_buf [13])
);
defparam \f_gray_to_binary.b_buf_0_a2[13] .INIT=16'h9669;
// @9:48
  CFG4 \f_gray_to_binary.b_buf_0_a2[11]  (
	.A(\f_gray_to_binary.b_buf_0_a2_out_5 ),
	.B(g_buf_Z[11]),
	.C(g_buf_RNI66LE2_Z[28]),
	.D(\f_gray_to_binary.b_buf_0_a2_1 [9]),
	.Y(\f_gray_to_binary.b_buf [11])
);
defparam \f_gray_to_binary.b_buf_0_a2[11] .INIT=16'h9669;
// @9:48
  CFG4 \f_gray_to_binary.b_buf_0_a2[15]  (
	.A(\f_gray_to_binary.b_buf_0_a2_1 [9]),
	.B(g_buf_RNI66LE2_Z[28]),
	.C(g_buf_Z[15]),
	.D(\f_gray_to_binary.b_buf_0_a2_0 [16]),
	.Y(\f_gray_to_binary.b_buf [15])
);
defparam \f_gray_to_binary.b_buf_0_a2[15] .INIT=16'h9669;
// @9:48
  CFG4 \f_gray_to_binary.b_buf_0_a2[10]  (
	.A(\f_gray_to_binary.b_buf_0_a2_1 [9]),
	.B(g_buf_RNI66LE2_Z[28]),
	.C(\f_gray_to_binary.b_buf_0_a2_0 [10]),
	.D(\f_gray_to_binary.b_buf_0_a2_out_5 ),
	.Y(\f_gray_to_binary.b_buf [10])
);
defparam \f_gray_to_binary.b_buf_0_a2[10] .INIT=16'h9669;
// @9:48
  CFG3 \f_gray_to_binary.b_buf_0_a2[14]  (
	.A(\f_gray_to_binary.b_buf_0_a2_0_0 [14]),
	.B(\f_gray_to_binary.b_buf_0_a2_1 [9]),
	.C(g_buf_RNI66LE2_Z[28]),
	.Y(\f_gray_to_binary.b_buf [14])
);
defparam \f_gray_to_binary.b_buf_0_a2[14] .INIT=8'h69;
// @9:48
  CFG3 \f_gray_to_binary.b_buf_0_a2[16]  (
	.A(\f_gray_to_binary.b_buf_0_a2_0 [16]),
	.B(\f_gray_to_binary.b_buf_0_a2_1 [9]),
	.C(g_buf_RNI66LE2_Z[28]),
	.Y(\f_gray_to_binary.b_buf [16])
);
defparam \f_gray_to_binary.b_buf_0_a2[16] .INIT=8'h69;
// @9:48
  CFG3 \f_gray_to_binary.b_buf_0_a2[12]  (
	.A(g_buf_RNI66LE2_Z[28]),
	.B(\f_gray_to_binary.b_buf_0_a2_out_5 ),
	.C(\f_gray_to_binary.b_buf_0_a2_1 [9]),
	.Y(\f_gray_to_binary.b_buf [12])
);
defparam \f_gray_to_binary.b_buf_0_a2[12] .INIT=8'h69;
// @9:48
  CFG3 \f_gray_to_binary.b_buf_0_a2[17]  (
	.A(g_buf_RNI66LE2_Z[28]),
	.B(g_buf_Z[17]),
	.C(\f_gray_to_binary.b_buf_0_a2_1 [9]),
	.Y(\f_gray_to_binary.b_buf [17])
);
defparam \f_gray_to_binary.b_buf_0_a2[17] .INIT=8'h69;
// @9:48
  CFG4 \f_gray_to_binary.b_buf_0_a2[21]  (
	.A(g_buf_Z[23]),
	.B(g_buf_RNI66LE2_Z[28]),
	.C(g_buf_Z[21]),
	.D(g_buf_Z[22]),
	.Y(\f_gray_to_binary.b_buf [21])
);
defparam \f_gray_to_binary.b_buf_0_a2[21] .INIT=16'h9669;
// @9:48
  CFG3 \f_gray_to_binary.b_buf_0_a2[25]  (
	.A(g_buf_Z[26]),
	.B(g_buf_Z[25]),
	.C(\f_gray_to_binary.b_buf [27]),
	.Y(\f_gray_to_binary.b_buf [25])
);
defparam \f_gray_to_binary.b_buf_0_a2[25] .INIT=8'h96;
// @9:48
  CFG4 \f_gray_to_binary.b_buf_0_a2[9]  (
	.A(\f_gray_to_binary.b_buf_0_a2_1 [9]),
	.B(g_buf_RNI66LE2_Z[28]),
	.C(g_buf_Z[9]),
	.D(\f_gray_to_binary.b_buf_0_a2_0_0 [10]),
	.Y(\f_gray_to_binary.b_buf [9])
);
defparam \f_gray_to_binary.b_buf_0_a2[9] .INIT=16'h9669;
// @10:45
  CFG4 \f_gray_to_binary.b_buf_0_a2_6_N_3_i  (
	.A(\f_gray_to_binary.b_buf_0_a2_8_m6_7 ),
	.B(g_buf_RNI66LE2_Z[28]),
	.C(g_buf_Z[23]),
	.D(\f_gray_to_binary.b_buf_0_a2_6_m2_0_Z ),
	.Y(\f_gray_to_binary.b_buf_0_a2_6_N_3_i_Z )
);
defparam \f_gray_to_binary.b_buf_0_a2_6_N_3_i .INIT=16'h6996;
  GND GND_Z (
	.Y(GND)
);
  VCC VCC_Z (
	.Y(VCC)
);
endmodule /* gray_to_binary_freq_test */

